METEOBLUE_API_KEY=blah
METEOBLUE_BASIC_API=basic
METEOBLUE_CLOUD_API=cloud
METEOBLUE_CURRENT_API=current
BASIC_CACHE_ENDPOINT=basic
CLOUD_CACHE_ENDPOINT=cloud
CURRENT_CACHE_ENDPOINT=current
AUTH_TOKEN=
REDIS_CACHE_TOKEN=
LAT=-30.24493
LON=-70.74902
ASL=2647
TZ=America%2FSantiago
NAME=
FORMAT=json
HISTORY_DAYS=1
FORECAST_DAYS=1