METEOBLUE_API_KEY=
METEOBLUE_BASIC_API=https://my.meteoblue.com/packages/basic-1h
METEOBLUE_CLOUD_API=https://my.meteoblue.com/packages/clouds-1h
METEOBLUE_CURRENT_API=https://my.meteoblue.com/packages/current
LAT=
LON=
ASL=2647
TZ=America%2FSantiago
NAME=
FORMAT=json
HISTORY_DAYS=1
FORECAST_DAYS=1