METEOBLUE_API_KEY: ""
METEOBLUE_BASIC_API: ""
METEOBLUE_CLOUD_API: ""
METEOBLUE_CURRENT_API: ""
BASIC_CACHE_ENDPOINT: ""
CLOUD_CACHE_ENDPOINT: ""
CURRENT_CACHE_ENDPOINT: ""
LAT: "-30.24493"
LON: "-70.74902"
ASL: "2647"
TZ: "America%2FSantiago"
NAME: "Rubin"
FORMAT: "json"
HISTORY_DAYS: "1"
FORECAST_DAYS: "1"